extends ../layouts/Main

block scripts
  script(src="Main.js")

block content
  div.grid
    div.row
      div.cell(style="text-align: center;")
        | วันที่รับบริการ &nbsp;
        div.input-control.text(data-role="datepicker", data-format="dd/mm/yyyy", data-locale="th")
          input(type="text")#txtDate
          button.button
            span.mif-calendar
        | &nbsp;    
        button#btnGetService.button.primary แสดง
        | &nbsp; &nbsp;
        label.switch
          input(type="checkbox", checked="checked")
          span.check
          span.caption &nbsp;&nbsp;ผู้ป่วยเรื้อรัง
      //- div.cell.padding10.colspan2.place-right
      //-   div.input-control.text(style="width: 350px;", data-role="input")
      //-     input(type="text", placeholder="ค้นหาผู้มารับบริการ...")
      //-     button.button
      //-       span.mif-search
    div.row
      div.cell.padding10
        table.table.hovered.dataTable#tblVisit
          //- thead
          //-   tr
          //-     th.sortable-column HN
          //-     th.sortable-column ชื่อ - สกุล
          //-     th อายุ
          //-     th.sortable-column การวินิจฉัยหลัก
          //-     th #
          //- tbody
          //-   tr
          //-     td afgs
          //-     td werwsdf
          //-     td xxxxxx
          //-     td cxx
          //-     td
          //-       div.dropdown-button.place-right
          //-         button.button.dropdown-toggle.warning
          //-           span.mif.mif-menu.mif-lg
          //-         ul.split-content.d-menu.place-right(data-role="dropdown")
          //-           li
          //-             a(href="#") ประมวลผล CVD Risk
                      
